.header {
    -fx-font-size: 24px;
    -fx-text-fill: #2c3e50;

    -fx-padding: 30px;
}
.username {
    -fx-alignment: center;
    -fx-start-margin: 30px;
}
.password {
    -fx-alignment: center;
    -fx-start-margin: 50px;
}

.root {
    -fx-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}